*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
padding:30px;
}

.container{
max-width:1000px;
margin:auto;
}

h1{
text-align:center;
margin-bottom:30px;
color:#0d47a1;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,
textarea{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
border:1px solid #ddd;
border-radius:5px;
}

button{
background:#0d47a1;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1565c0;
}

ul{
list-style:none;
}

li{
padding:10px;
border-bottom:1px solid #ddd;
}